/* VAR */
:root{
  --h2-info-section:#0084FD;
  --p-info-section:#5A6E7F;
  --blue:#0084FD;
  --grey:#5A6E7F;
  --light-grey:#8ba1b4;
  --violet:#9792E4;
  --margin-20px:20px;
  --margin-20-0:20px 0px;
  --margin-40-0:40px 0px;
  --margin-60-0:60px 0px;
  --padding-20px:20px;
  --padding-20-0:20px 0px;
  --padding-40-0:40px 0px;
  --padding-60-0:60px 0px;

}
/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
 }
 section{
  padding: var(--padding-60-0);
 }
 img{
  width: 100%;
 }
 h2{
  margin: var(--margin-20-0);
  font-size: 2.5rem;
 }
 p{
  font-size: 1.6rem;
 }
 h3, p{
  margin: var(--margin-40-0);
 }
 span{
  margin: var(--margin-20-0);
 }
 li{
  list-style: none;
 }
 a{
  text-decoration: none;
 }
 col{
  width: 100%;
 }
 .grey{
  color: var(--p-info-section);
 }
/* DEBUG */
.debug-box{
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid black;
}
.debug{
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid red;
  min-height: 50px;
}

/* FLEX */
.d-flex{
  display: flex;
}
.d-wrap{
  flex-wrap: wrap;
}
.d-column{
  flex-direction: column;
}

/* BUTTON */
.button{
  margin: var(--margin-20-0);
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

/* CONTAINER */
.container{
  width: 87%;
  margin: 0 auto;
}
/* HEADER */
header{
  height: 80px;
  background-color: #0083fd;
  flex-direction: row;
}
header .container{
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.logo-header{
  height: 60px;
  width: 120px;
}
.logo-header img{
  width: 100%;
}
header .menu-burger i{
  color: white;
  font-size: 35px;
}
header .menu-desktop{
  display: none;
}
/* MAIN */
/* SECTION FIRST-INFO */
.first-info .col .card{
  background-color: #B5DDFF;
  border-radius: 15px;
  margin: var(--margin-20-0);
  text-align: center;
  padding: 40px 40px;;
}
.first-info .col div:first-child{
  padding-bottom: 0px;
}
.first-info .col div:first-child h2,p{
  text-align: left;
}
.first-info .col .card img{
  width: 78%;
}
.first-info i{
  color: var(--h2-info-section);
  font-size: 6rem;
}
.first-info h2{
  color: var(--h2-info-section);
}
.first-info p{
  color: var(--p-info-section);
  font-weight: 700;
}
.first-info div.button{
  background-color: var(--blue);
  width: 60%;
  border-radius: 30px;
}
.first-info div.button i{
  margin: 10px;
  font-size: 1rem;
  color: white;
}
.first-info div.button a{
  color: white;
}

/* SECTION PLANNING */
.planning{
  padding: var(--padding-60-0);
  background-color: var(--violet);
  text-align: center;
  color: white;
}
.planning .card{
  background-color: white;
  color: black;
  border-radius: 38px;
  padding: var(--margin-20px);
  
}
.planning h2{
  margin: var(--margin-60-0);
}
.planning h2,p{
  text-align: left;
}
.planning .card div.button{
  height: 60px;
  width: 60px;
  padding: 20px;
  margin: 40px auto;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: var(--violet);
  color: black;
}
.planning .card h2,
.planning .card p{
  text-align: center;
}
.planning .card a{
  width: 100%;
  height: 100%;
}

/* SECTION TESTIMONIAL */
.testimonial{
  text-align: center;
}
.testimonial p{
  text-align: center;
}
.testimonial h2{
  color: var(--violet);
}
.testimonial .card{
  background-color: var(--violet);
  color: white;
  border-radius: 30px;
  padding: var(--margin-20px);
  margin: var(--margin-20-0);
}
.testimonial .card img{
  width: 380px;
  height: 380px;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}
.testimonial .card i{
  font-size: 2rem;
  margin: 10px;
}
.testimonial .card span.name{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.7rem;
}
/* SECTION BENEFITS */
.benefits{
  background-color: var(--violet);
}
.benefits h2{
  text-align: center;
  color: white;
  font-size: 3.5rem;
}
.benefits h3{
  color: var(--violet);
  text-transform: capitalize;
}
.benefits .col{
  color: var(--p-info-section);
  margin: var(--margin-40-0);
}
.benefits .card{
  background-color: white;
  border-radius: 25px;
  padding: var(--padding-20px);
}
.benefits .card p.num{
  color: var(--violet);
  font-size: 3.5rem;
  font-weight: bold;
}
.benefits .card div.button{
  background-color: var(--violet);
  color: white;
  width: 40%;
  border-radius: 20px;
  margin: var(--margin-20px);
  letter-spacing: 3px;
}
.benefits .card div.button a{
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
}
/* SECTION ABOUT US */
.about-us h2,h3{
  color: var(--violet);
}
.about-us .img-special{
  width: 60%;
  position: relative;
}
.about-us img{
  width: 100%;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}
.about-us h3{
  font-size: 2rem;
}
.about-us .img-special i{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 5rem;
  color: var(--violet);
}
.about-us a.button{
  background-color: var(--violet);
  color: white;
  margin: var(--margin-20px);
  border-radius: 20px;
}
.about-us a.button i{
  margin: 10px;
}
/* SECTION STARTED */
.started{
  background-color: var(--violet);
  text-align: center;
  color: white;
}
.started span.grey-span{
  color: #bfbdec;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.started h2{
  font-size: 3rem;
}
.started span.big-span{
  font-size: 5.8rem;
  color: #FDC15F;
  font-weight: bold;
}
.started div.button{
  background-color: white;
  color: var(--violet);
  width: 70%;
  margin: 0px auto;
  border-radius: 20px;
}
.started .button a{
  color: var(--violet);
  font-weight: 700;
}
.started h5{
  margin: var(--margin-20-0);
}
.started h5 a{
  color: white;
  text-decoration: underline;
  font-weight: lighter;
}
  /* FOOTER */
footer{
  background-color: #333333;
  text-align: center;
  color: white;
}
.foot a{
  text-decoration: underline;
}